@use '../abstracts/variables' as *;

.btn {
  &,
  &:link,
  &:visited {
    display: block;
    border: 1px solid transparent;
    padding: 1.5rem 2.25rem;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    text-align: center;
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &__primary {
    background-color: $color-secondary;
    color: #fff;
  }
}
